extends layout/main
block content

  include blocks/information/information

  include blocks/navigation/navigation

  div.data
    include blocks/widget/main

    include blocks/statistics/statistics

    include blocks/log/log