include mixin/widget-small

div.widget

  div.widget__box
    div.widget-large
      div.widget-large__title Customer happiness
      div.widget-large__ico
        svg(xmlns="http://www.w3.org/2000/svg" width="115" height="114")
          path(fill="#EDEDED" fill-rule="evenodd" d="M57.352 113.667c31.381 0 56.824-25.438 56.824-56.815 0-31.376-25.443-56.814-56.824-56.814C25.972.038.529 25.476.529 56.852c0 31.377 25.443 56.815 56.823 56.815zm0-102.976c25.499 0 46.17 20.667 46.17 46.161 0 25.495-20.671 46.163-46.17 46.163-25.497 0-46.168-20.668-46.168-46.163 0-25.494 20.671-46.161 46.168-46.161zm0 55.792c12.871 0 25.111-3.424 35.515-9.425-1.619 19.8-16.998 35.304-35.515 35.304-18.516 0-33.894-15.518-35.514-35.319 10.404 6.003 22.644 9.44 35.514 9.44zM28.941 39.098c0 5.884 3.181 10.653 7.103 10.653 3.922 0 7.103-4.769 7.103-10.653 0-5.885-3.181-10.652-7.103-10.652-3.922 0-7.103 4.767-7.103 10.652zm42.618 0c0 5.884 3.18 10.653 7.102 10.653 3.923 0 7.103-4.769 7.103-10.653 0-5.885-3.18-10.652-7.103-10.652-3.922 0-7.102 4.767-7.102 10.652z")
      div.widget-large__text The Product is Awesome
      div.widget-large-rate
        div.widget-large-rate__box
          div.widget-large-rate__progress(style="width: 90%")
        div.widget-large-rate__value 90%

  div.widget__box
    div.widget-chart
      div.widget-chart__title total turnover
      div.widget-chart__amount €3,297
      div.widget-chart__data
        canvas(id="chart")

  div.widget__box
    +widget-small([
      [{mod: 'widget-small__box_ico_cube', titleMod: 'widget-small__title_yellow', title: 'Orders total', value: '43'}]
    ])

    +widget-small([
      [{mod: 'widget-small__box_ico_database', titleMod: 'widget-small__title_violet', title: 'Orders in Progress', value: '2'}]
    ])